header {
  position: relative;

  nav,
  .header-links {
    z-index: 20;
  }

  nav {
    top: 64px;
    left: 64px;
    position: fixed;
    writing-mode: vertical-lr;
    text-orientation: mixed;
  }
  .header-links {
    bottom: 64px;
    left: 64px;
    position: fixed;
    writing-mode: vertical-lr;
    text-orientation: mixed;
  }

  @media (max-width: 600px) {
    nav {
      display: none;
    }

    .header-links {
      display: none;
    }
  }
}
