header {
  nav {
    top: 64px;
    left: 64px;
    position: fixed;
    writing-mode: vertical-lr;
    text-orientation: mixed;
  }
  div {
    bottom: 64px;
    left: 64px;
    position: fixed;
    writing-mode: vertical-lr;
    text-orientation: mixed;
  }
  .mode {
    top: 64px;
    right: 64px;
    position: fixed;
    background-image: url("../assets/icons/light_mode_FILL0_wght400_GRAD0_opsz24.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0 none;
    width: 32px;
    height: 32px;

    &:hover {
      background-color: #80808080;
      cursor: pointer;
    }
  }
}

.dark .mode {
  background-image: url("../assets/icons/dark_mode_FILL0_wght400_GRAD0_opsz24.svg");
  filter: invert(90%);
}
